<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet"/>

    <script>
      const ROOM_ID = "<%= roomid %>";
      const TEACHER_ID = "<%= teacherid %>";
      const START_DATE = "<%= start_date %>";
      const STARTS_DATE = "<%= starts_date %>";
      const TIMES = "<%= times %>";
    </script>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" />
    <style>
      .clearfix{
         overflow: auto;
      }
   </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <script src="roomId.js" defer></script>
    <script src="roomId1.js" defer></script>
    
    <title>Video Chat Room</title>
  </head>
  <body style="background-color:rgb(38, 27, 70)"> 
    <div class="overlay menu">
      <ul class="ul">
        <li class="ul-li"><a class="ul-li-a">Screen Share</a></li>
        <li><a class="ul-li-a">Account Setting</a></li>
        <li><a class="ul-li-a">Live Class Status</a></li>
        <li><a class="ul-li-a">Video Grid</a></li>
        <li><a class="ul-li-a">Class Permission's</a></li>
      </ul>
    </div>
    <div class="container-fluid nopadding">  
        <div class="col-xs-12 col-lg-7 nopaddingss">
          <div id="hostVideoGrid"></div>
          <div id="joinVideoGrid"> </div>
          <div id="newVideoGrid"></div>
          <p id="countdown"></p>
          <div class="mobile-margin"></div>
        </div>
        <div class="col-xs-12 col-lg-5 nopaddings">
          <div id="conNewVideoGrid"></div>
        </div>
  <div>
    <nav class="bnav">
      <div class="bnav-item">
        <a class="bnav-link-active"><i class="fa fa-user icon"></i>User</a>
      </div>
      <div class="bnav-item">
        <a class="bnav-link"><i class="fa fa-video-camera icon"></i>Stop Video</a>
      </div>
       <div class="bnav-item">
        <a class="bnav-link"><i class="fa fa-microphone"></i>Mute</a>
      </div>
      <div class="toggle">
        <div class="kebab menu">
          <figure></figure>
          <figure></figure>
          <figure></figure>
        </div>
       <h1 class="menu">More</h1>
      </div>
    </nav>
  </div>
  </div>

    <script>
      $(document).ready(function(){
        $('.menu').click(function(){
          $('.overlay').toggleClass('active');
          $('ul').toggleClass('active');
        })
      })
    </script>
  </body>
</html>
